*{
	margin: 0;
	padding: 0;

}
body{
	background-color: #bdc3c7;
	font-family: 'Cabin Condensed', sans-serif;

}
li{
	padding-left: 35px;
	/*preparando la trancision*/
	-webkit-transition:color .5s ease-out;
	-moz-transition:color .5s ease-out;
	-o-transition:color .5s ease-out;
	-ms-transition:color .5s ease-out;
	transition:color .5s ease-out;
}
ul{
	display: inline-block;
	text-align: left;
	line-height: 35px;
}
a{
	color: #fff;
	text-decoration: none;
}
li>a:hover{
	color: #FFC600;
	text-decoration: none;
	-webkit-transition:color .5s ease;
	-moz-transition:color .5s ease;
	-o-transition:color .5s ease;
	-ms-transition:color .5s ease;
	transition:color .5s ease;
}
/************** Identificadores***********************/
#barra{
	color: #FFF;
	display: inline-block;
	width: 100%;
	height: 70px;
	background-color: #07294d;
	text-align: center;
	font-size: 16px;
}
#buscador{
	display: inline-block;
	text-align: right;
}
#cajatexto{
	background-color: #07294d; 
	display: block;
	float: left;
	height: 200px;
	width: 400px;
	margin-top: 20px;
	margin-left: 20px;
	max-width: 100%;
	max-height: 200px;
	position: absolute;
	z-index: 0;
}
#contenedor{
	max-width: 70%;
	max-height: 100%;
	margin: 0 auto;
}
#entrar{
	text-align: center;
	color: #FFF;
	margin-top: 10%;

}
#noticias{
	max-height: 400px;
}
#mapa{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
#portal{
	z-index: 0;
}
#superior{
	display: inline-block;
	text-align: center;
}
#recorrido-virtual{
vertical-align: middle;
}
#rectangulo-azul{
	background-color: #07294d;
	width: 150px;
	height: 50px;
	position: relative;
	margin-top: 100px;
	margin-left: 0;
	z-index: 0;
}
#rectangulo-amarillo{
	background-color: #FFC600;
	text-align: center;
	width: 100px;
	height: 50px;
	position: relative;
	margin-left: 0;
	margin-top: 100px;
	z-index: 0;
}
#virtual{
	width: 100%;
	height: 600px;
	text-align: center;
	z-index: 0;

}

/*****************Clases****************************/
.articulo-noticias{
	width: 100%;
	height: 110px;
}
.alin-altura{
	display: inline-block;
	margin-top: 20%;
	margin-bottom: 20%;
}
.ajuste-imagen{
	max-height: 100%;
	max-width: 100%;
}
.cuadros{
	background-color: #07294d;
	width: 100%;
	height: 400px;
	margin-top: 25px;
}
.calendario{
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	width: 90%;
	text-align: center;
	vertical-align: middle;
}
.centrar{
	left: 25%;
}
.imgcenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
}
.imgchat{
	display: block;
	margin-bottom: 20px;
	margin-right: 20px;
	max-width: 100%;
	height: 150px;
}
.izq-align{
	text-align: left;
}
.lista{
	display: inline-block;
	text-decoration: none;
	vertical-align: bottom;
	margin-left: 15px;
}
.linea-med{
	border-bottom-style: solid;
	border-bottom-color: #FFF; 
}
.noti-even{
	color: #000;
	font-size: 2em;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 25px;
	text-align: center;
	width: 100%;
	height: 600px;
}
.mitad{
	width: 100%;
	height: 50%;
}
.pie{
	background-color: #FFC600;
	margin-top: 25px;
	width: 100%;
	height: 100px;

}
.titulo{
	color: #FFF;
	display: block;
	font-size: 2em;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	vertical-align: middle;
}
.tituloazul{
	color: #07294d;
	background-color: #FFC600;
}
.textopie{
	text-align: center;
	vertical-align: middle;
}
.parrafo{
	color: #FFF;
	font-family: 'Cabin Condensed', sans-serif;
}